<h1>Pages#index</h1>

<h1> Air bn Me </h1>

<p>
Choisissez la période souhaitée:
</p>

<p>
Choisissez une catégorie de vélo:
</p>
<img src="https://res.cloudinary.com/dszuzvkcb/image/upload/v1739718793/RAMEPLEINE_ttgrgg.jpg", alt= "RERBLINDE", width=400px>
<p>Click <%= link_to "here", bikes_path %> for find a bike</p>

<p id="notice"><%= notice %></p>

<div class='carousel-indicators<%= action_name%>_header'>
  <% (0...@bikes.poster_url.count).each do |image| %>
      <%= image_tag(@bike.images[image]) %>
  <% end %>
</div>

<p>
  <strong>Titolo:</strong>
  <%= @post.titolo %>
</p>
<p>
  <strong>Descrizione:</strong>
  <%= @post.descrizione %>
</p>
