<h1>Réservations</h1>
<% if @reservations.any? %>
  <p> Vous avez réservé
    <%= @reservations.last.bike.brand %> du
    <%= @reservations.last.start_date %> au
    <%= @reservations.last.end_date %>. Ce vélo vous est mis à disposition par
    <%= @reservations.last.bike.user.first_name %>
    <img src="<%= @reservations.last.bike.poster_url %>" alt="un vélo" width="100px">
  </p>

  <p>
    Prix total : <%= @reservations.last.total_price %> €
  </p>
<% else %>
  <p>Aucune réservation trouvée.</p>
<% end %>
