<h1>Réservations</h1>
<% if @reservation %>
<p> Vous avez réservé
  <%= @reservations.last.bike.brand %> du
  <%= @reservations.last.start_date %> au
  <%= @reservations.last.end_date %>. Ce wagon vous est mis à disposition par
  <%= @reservations.last.bike.user.first_name %>
  <img src="<%= @reservations.last.bike.poster_url %>", alt= "un velo", width=100px>
</p>

<% else %>
  <p>No reservation found</p>
<% end %>
