<H1> Réserve un wagon -</H1>
<h1><Strong> <%= @bike.brand %> </Strong> proposé par <%= @bike.user.first_name %> </H1>
<H3> Pour <%= @bike.price_per_day  %>€ par jour</H3>


      <img src="<%= @bike.poster_url %>", alt= "un wagon", width=400px>
      <p>
      <H4> Catégorie :
        <%= @bike.category %>
      </H4>
      </p>

  <div>
    <H3> Tu souhaites reserver ce wagon et en vérifier sa disponibilité, </H3>
    <H4> Selectionne la date de début et de fin</H4>
  <%= simple_form_for [@bike, @reservation], html: { data: { controller: 'faltpickr' }}  do |f| %>
    <%= f.input :start_date, label: false, as: :string, input_html: { class: "d-none", data: { faltpickr_target: 'startDateInput' } } %>
    <%= f.input :end_date, label: false, as: :string, input_html: { class: "d-none", data: { faltpickr_target: 'endDateInput' } } %>
    <%= f.submit %>
  <% end %>

  </div>



    <p><%= link_to "Revenir à la liste des wagons", bikes_path %></p>

    <div style="width: 30%; height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
