<p><%= link_to "Revenir à la liste des wagons", bikes_path, class: "btn btn-ghost mx-5 my-2"  %></p>
 <div class="banner col-12 ">
  <div class="box container-fond px-3 py-5" style="width: 95%; margin: auto;">
  <div class="card-body">
    <div class="row">
      <!-- Texte à gauche -->
      <div class="col-4">
        <div class="mb-5">
<H1> Réserve un wagon </H1>
<h1><Strong> <%= @bike.brand %> </Strong> proposé par <%= @bike.user.first_name %> </H1>
<H3> Pour <%= @bike.price_per_day.to_i  %>€ par jour</H3>
      <p>
      <H4> Catégorie :
        <%= @bike.category %>
      </H4>
</div>
      <div class="margin: 50px">
    <div style="width: 100%; height: 600px; "
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

      </div>
      </div>




      <!-- Image à droite -->
      <div class="col-4">
        <img src="<%= @bike.poster_url %>", alt= "un wagon", width=600px class="card-img-top" alt="Image" style="width: 100%; height: auto;">

<H1 class="my-5">Bienvenue à bord de notre wagon de luxe !</H1>
<ul>
  <li>Wi-Fi ultra-rapide</li>
  <li>Cuisine toute équipée</li>
  <li>Climatisation / Chauffage</li>
  <li>Lit ultra-confortable</li>
  <li>Salle de bain spacieuse</li>
  <li>Appareil à raclette 8 personnes</li>
  <li>Sauna hammam</li>

</ul>

<%= link_to "Laisse ton avis", new_bike_review_path(@bike), class: "btn btn-ghost mx-5 my-5" %>



      </div>
<div class="container  container-fond col-3 " style="height: 550px;">

  <div class= "my-5 card2" style="width: 120%;">
    <H3> Tu souhaites reserver ce wagon et en vérifier sa disponibilité, </H3>
    <H4> Selectionne la date de début et de fin</H4>
  <%= simple_form_for [@bike, @reservation], url:bike_reservations_path(@bike), html: { data: { controller: 'faltpickr' }}  do |f| %>
    <%= f.input :start_date, label: false, as: :string, input_html: { class: "d-none", data: { faltpickr_target: 'startDateInput' } } %>
    <%= f.input :end_date, label: false, as: :string, input_html: { class: "d-none", data: { faltpickr_target: 'endDateInput' } } %>
        <%= f.submit "Valider", class: "btn btn-ghost" %>
  <% end %>


<% end %>
    </div>
  </div>
</div>
  </div>
   </div>
 </div>
