<H1> Réserve un wagon - <%= @bike.brand %> proposé par <%= @bike.user.first_name %> </H1>
<H3> Pour <%= @bike.price_per_day  %>€ par jour</H3>


      <img src="<%= @bike.poster_url %>", alt= "un wagon", width=400px>
      <p>
      <H4> Catégorie :
        <%= @bike.category %>
      </H4>
      </p>



  <%= simple_form_for [@bike, @reservation], html: { data: { controller: 'faltpickr' }}  do |f| %>
    <%= f.input :start_date, label: false, as: :string, input_html: { class: "d-none", data: { faltpickr_target: 'startDateInput' } } %>
    <%= f.input :end_date, label: false, as: :string, input_html: { class: "d-none", data: { faltpickr_target: 'endDateInput' } } %>
    <%= f.submit %>
  <% end %>



    <p><%= link_to "Revenir à la liste des wagons", bikes_path %></p>

    <div style="width: 100%; height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
